<div ng-controller="homeController">

    <div ng-controller="jumboController">
        <uib-carousel active="active" interval="interval" no-wrap="noWrapSlides" template-url="app/views/pages/carousel/carousel.html">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" template-url="app/views/pages/carousel/slide.html">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4 class="jumbo-text">
                    {{ slide.header }}
                </h4>
                    <p class="jumbo-text">
                        {{ slide.text }}
                    </p>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <div ng-controller="featuretteController">
        <div ng-repeat="feat in featurettes">
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-5">
                    <a href="{{feat.link}}">
                        <img style="border:0;" class="featurette-image img-responsive" src="{{feat.img}}">
                    </a>
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">
                        <a href="{{feat.link}}" style="text-decoration: none">{{feat.bigTitle}}</a> 
                        <span class="text-muted">{{feat.title}}</span>
                    </h2>
                    <p class="lead">{{feat.message}}</p>
                </div>
            </div>
            
        </div>
    </div>
    
</div>