<div ng-controller="spotsController">

    <br>
    <h2 class="featurette-heading text-center">  
        <span class="text-muted">Where Would You Like To Fish?</span>
    </h2>

    <br>
    <br>

    <form class="form-horizontal">
        
        <div class="form-group">
            
            <label for="location" class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="location" placeholder="Tampa" 
                    ng-model="formData.location">
            </div>
            
            <button type="submit" class="btn btn-info" ng-click="search()">Go Fish!</button>           
        </div>
    </form>

    <br>

    <div>
        <div id="map" class="jumbotron"></div>
    </div>

</div>