<div ng-controller="termsController">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{terms.bigHeading}}
                <br><br>
                <span class="text-muted">{{terms.smallHeading}}</span>
            </h2>
            <p class="lead">
                <br>
                {{terms.message}}
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="{{terms.img}}">
        </div>
    </div>
</div>